@model QWI.Models.dbmodels.coils_wirerod

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>coils_wirerod</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.coilweight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.coilweight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pricklingid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pricklingid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.coilnumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
