@model IEnumerable<QWI.Models.dbmodels.coils_wirerod>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.coilweight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pricklingid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.coilweight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pricklingid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.coilnumber">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.coilnumber">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.coilnumber">Delete</a>
        </td>
    </tr>
}
</table>
